.nav-side {
    float: left;
    width: 130px;
    min-height: 100px;
}
.nav-side .nav-item {
    line-height: 25px;
    font-size: 12px;
}
.nav-side .nav-item .link {
    color: #888;
}
.nav-side .nav-item.active .link {
    color: #8e2800;
}
.content.with-side {
    float: left;
    width: 950px;
}