<div class="slider">
    <ul class="slider-list">
        <li class="slider-item slider-item-active">
            <a href="./list.html?categoryId=100021"><img src="../../../../image/banner/banner1.jpg" alt=""></a>
        </li>
        <li class="slider-item">
            <a href="./list.html?categoryId=100030"><img src="../../../../image/banner/banner2.jpg" alt=""></a>
        </li>
        <li class="slider-item">
            <a href="./list.html?categoryId=100016"><img src="../../../../image/banner/banner3.jpg" alt=""></a>
        </li>
        <li class="slider-item">
            <a href="./list.html?categoryId=100021"><img src="../../../../image/banner/banner4.jpg" alt=""></a>
        </li>
    </ul>
    <div class="slider-controller">
        <div class="slider-controller-item controller-item-active"></div>
        <div class="slider-controller-item"></div>
        <div class="slider-controller-item"></div>
        <div class="slider-controller-item"></div>
    </div>
</div>