.modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #eee;
    background: rgba(0,0,0,0.4);
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
}
.modal .modal-container{
   width: 700px;
   margin: 50px auto;
   background: #fff;
   border-radius: 2px; 
}
.modal .modal-container .modal-header{
    position: relative;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}
.modal .modal-container .modal-header .modal-title{
    font-size: 14px;
}
.modal .modal-container .modal-header .close{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    cursor: pointer;
}
.modal .modal-container .modal-body{
    padding: 15px;
}

/* form部分样式 */
.form .form-line{
    margin: 5px 0;
    overflow: hidden;
}
.form .form-line .label{
    display: block;
    float: left;
    width: 80px;
    text-align: right;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    cursor: pointer;
}
.form .form-line .label .required{
    color: red;
}
.form .form-line .form-item{
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
    outline: none;
    margin-right: 10px;
}
.form .form-line .btn{
    margin-left: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
}
